body {
  text-align: center;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%) !important;
  font-family: 'Epilogue', sans-serif !important;
}
.recipe-wrapper{
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem 0
}
.recipe-wrapper ul{
list-style: none;
font-size: 15px;
}
.recipe-wrapper ul li{
  font-weight: 800;
  color: #57c6e1;
  margin: 5px 0;
  }
  .recipe-wrapper h3{
    color: #eea2a2;
    margin: 5px 0;
    }